  <div style = "display:block; border-bottom: 1px solid #ff2da3">
      <h2>User: <%= review_item.user.name %> </h2>
      <h2 style = "color:orange"><%= review_item.rating %> out of 5</h2>
      <p><%= review_item.description %></p>
  </div>

